File = "config3.toml"

[exp]
  log_level = "debug"
  nats = "nats://localhost:4222"
  port = "8172"
  cache_url = "localhost:6379"
  cache_pass = ""
  cache_db = "0"

[mqtt]
  ca_path = "ca.crt"
  cert_path = "thing.crt"
  channel = "0fae507c-7884-4e2c-a8ee-0e538842e1e9"
  host = "tcp://localhost:1883"
  mtls = false
  password = "4d9d79cd-bbce-4aa6-b119-792e5fd16e2e"
  priv_key_path = "thing.key"
  qos = 0
  retain = false
  skip_tls_ver = false
  username = "bfa9aa43-4bc7-45ab-8bc0-53d5146dcdde"

[[routes]]
  mqtt_topic = "channels/2a362536-e835-44de-be73-e5cf3df1a0f1/messages"
  nats_topic = "*"
  subtopic = ""
  type = "plain"
  workers = 300

